<!DOCTYPE html>
<html lang="en">
<head>
  <title>signup</title>
</head>
<body>
  <h2>signup</h2>
  <form method="post">
  {% csrf_token %}
  <input type="text" name="username">아이디</input></br>
  <input type="password" name="password">비밀번호</input></br>
  <input type="password" name="password2">비밀번호중복확인</input></br>
  <input type="text" name="phone">핸드폰번호</input></br>
  <input type="text" name="address">주소</input></br>
  <button type="submit">회원가입</button>
  </form>
</body>
</html>
